body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    margin-bottom: 45px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;   
}
.top {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    margin-bottom: 40px;
}
.fashion{
    width: 33%;
}
.skill-row img {
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
.skills-row img{
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.skill-row {
   margin: 100px auto 100px auto;
    width: 50%;
    line-height: 2;
    text-align: left;
}
.skills-row{
    margin: 100px auto 100px auto;
    width: 50%;
    line-height: 2;
    text-align: left;
}
.pro {
    text-decoration: underline;
}
.p{
    color: #40514E;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.contact-me{
    margin-bottom: 30px;
}
.bottom-container p{
color: #EAF6F6;
margin-bottom: 20 0;
font-size: 0.75 rem;
}
.footer-link{
    margin-left: 50px;
}
.bottom-container{
    padding: 40px 0;
    background-color: #66BFBF;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  hr{
    border-color: #EAF6F6;
    border-width: 7px;
    border-style:none;
    border-top-style: dotted;
    width: 5%;
    margin: 100px auto 100px auto;
  }